body{
  margin: 0 auto;
  background-color: #FAFAFA;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
 main {
    flex: 1 0 auto;
  }
.logo{
  font-size: 60px;
  font-family: 'Lemon', cursive;
  margin-top: 25%;
  color: #e68364;
}

.paw{
  width: 20%;
}

header{
  font-family: 'Lemon', cursive;
  color: #e68364;
  background-color: #F2F2F2;
}

.fixed {
  position: fixed;
  width: 100%;
}

.sign{
  padding-top: 20%;
  padding-bottom: -30%;
}

#form{
  background-color: #e68364;
  font-size: 20px;
}

img {
  object-fit: cover;
  height: 100%;
}

.login{
  background-color: #4CE0B3;
  font-size: 20px;
}

/*ESTILO INICIO*/
.home, .mail {
  font-size: 300%;
  margin-top: 6%;
}
.home2 {
  color: #e68364;
}
.posted-photo {
  background-image: url(../img/pig.jpg);
  background-size: cover;
  padding-bottom: 1%;
}
.txt {
  outline: 0 none;
  resize: none;
}
.comment-bubble {
  display: block;
}
.page-footer {
  padding-top: 0;
}
a i {
  padding: 0 4%;
}
.upload-photo {
  color: black;
}

#splash {
  height: 100vh;
  position: absolute;
  z-index: 7;
  background: white;
  width: 100%;
}

#logout {
  cursor: pointer;
}

/*ESTILO NOTIFICACIONES*/
.notifications{
  margin-top: 20px;
}

.notice-img{
  width: 100%;
  height: 100%;
}

/*ESTILO PERFIL*/
.profile-info{
  margin-top: 20px;
}

.galery{
  border-top: 1px solid lightgrey;
}

.photo-galery{
  width: 100%;
}

.carousel img {
  border-radius: 10px;
}

.first-section {
  height: 100vh;
  margin: 0;
}

#accounts {
  text-align: center;
}